@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Msangelward@gmail.com<br />
    Redmond, WA 98052-6399<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Msangelward@gmail.com">Msangelward@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@xyz.com">Marketing@xyz.com</a>
</address>