@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center>Job Search Tracker</center></h1>
    <h2><center>Is You Job Search Getting Crazy? Overwhelmed by</center></h2>
    <h2><center>all the various tasks that everyone insists you do next?</center></h2>
    <h3>Look up Job Listings, Fill out applications, update your LinkedIN, Network...Network...Network!</h3>
    <p class="lead">  Look No further. This app will help you organize your search while keeping your sanity.  Track your jobs, companies, and document interview notes all at the click of a button!</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2><center>Job</center></h2>
        <p>
            Document each Job you have applied to with details including: Job Title, Job Description, Company (if you know it), How You applied, When you applied, Potential Contacts to network with, Date you applied, and possible next steps.
        </p>
    </div>
    <div class="col-md-4">
        <h2><center>Company</center></h2>
        <p>Document any Company info, including: website, address, phone number and don't forget, that vital potential contact for networking!' </p>
    </div>
    <div class="col-md-4">
        <h2><center>Interview Notes</center></h2>
        <p>And we can't forget a place to document your Interview Information! Once you have an interview, you can document Job Title, Person you interviewed with, method of your interview as well as a place to not only document your reseach prior to your interview, but you after interview notes.  And, Don't forget to send that THANK YOU Note within 24 hours!'</p>
    </div>
</div>